# 1042020_data_variablesonliterature.xlsx 'Algemeen gebruik'

In [29]:
#imports
import pandas as pd
import datetime as dt
import numpy as np
import itertools
from collections import Counter
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
df = pd.read_excel("C:/Users/fdnecker/OneDrive - UGent/UGent/2019-2020/Doctoraat Floor/2019-2020/Smartphone_slaap_SimonA/MobileDNA data/input/ppn_logdagengrgl5.xlsx")

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229080 entries, 0 to 229079
Data columns (total 27 columns):
Unnamed: 0         229080 non-null int64
Unnamed: 0.1       229080 non-null int64
application        229080 non-null object
battery            229080 non-null int64
data_version       229080 non-null float64
endTime            229080 non-null datetime64[ns]
endTimeMillis      229080 non-null int64
id                 229080 non-null object
latitude           229080 non-null float64
longitude          229080 non-null float64
model              229080 non-null object
notification       229080 non-null bool
session            229080 non-null int64
startTime          229080 non-null datetime64[ns]
startTimeMillis    229080 non-null int64
studyKey           229080 non-null object
surveyId           229080 non-null object
dag                229080 non-null datetime64[ns]
uur                229080 non-null int64
duur               229080 non-null int64
duur_sec           229080 non-null float64
duur_min           229080 non-null float64
appname            223556 non-null object
fancyname          168148 non-null object
category           223556 non-null object
gebruik            229080 non-null object
category_v1        223556 non-null object
dtypes: bool(1), datetime64[ns](3), float64(5), int64(8), object(10)
memory usage: 45.7+ MB

In [32]:
df.head()

,Unnamed: 0,Unnamed: 0.1,application,battery,data_version,endTime,endTimeMillis,id,latitude,longitude,...,dag,uur,duur,duur_sec,duur_min,appname,fancyname,category,gebruik,category_v1
0,0,0,be.ugent.mobiledna,94,1.5,2018-12-27 12:13:44.834,1545909224834,a011f110-bd7a-49ca-8e0c-a3368e84cf12,51.184188,3.740566,...,2018-12-27,12,2401,2.401,0.040017,be.ugent.mobiledna,mobileDNA,lifestyle,overdag gebruik,lifestyle
1,1,1,com.sec.android.app.sbrowser,94,1.5,2018-12-27 12:14:40.919,1545909280919,a011f110-bd7a-49ca-8e0c-a3368e84cf12,51.184188,3.740566,...,2018-12-27,12,56071,56.071,0.934517,com.sec.android.app.sbrowser,Samsung Internet Browser,communication,overdag gebruik,communication
2,2,2,com.android.systemui,87,1.5,2018-12-27 13:59:19.398,1545915559398,a011f110-bd7a-49ca-8e0c-a3368e84cf12,51.184110,3.740284,...,2018-12-27,13,1379,1.379,0.022983,com.android.systemui,NaN,system,overdag gebruik,system
3,3,3,be.argenta.bankieren,87,1.5,2018-12-27 13:59:38.957,1545915578957,a011f110-bd7a-49ca-8e0c-a3368e84cf12,51.184110,3.740284,...,2018-12-27,13,19525,19.525,0.325417,be.argenta.bankieren,Argenta Banking,finance,overdag gebruik,finance
4,4,4,com.android.systemui,87,1.5,2018-12-27 14:01:00.165,1545915660165,a011f110-bd7a-49ca-8e0c-a3368e84cf12,51.184110,3.740284,...,2018-12-27,14,891,0.891,0.014850,com.android.systemui,NaN,system,overdag gebruik,system

## Variabele 1 = gem_freq_d; gemiddelde dagelijkse frequentie van smartphonegebruik

In [26]:
gem_freq_d = df.groupby(['id', 'dag'])['fancyname'].count().groupby('id').mean()

In [28]:
gem_freq_d.to_excel('gem_freq_d.xlsx')

## Variabele 2 = per_d_gr_4u; percentage dagen met dagelijks meer dan 4 u smartphonegebruik

### Eerst gem_duur_min_d herberekenen (checken en als basis hiervoor)

In [72]:
gem_duur_min_d = df.groupby(['id', 'dag'])['duur_min'].sum().groupby('id').mean()

In [39]:
gem_duur_min_d.to_excel('gem_duur_min_d.xlsx')

In [40]:
limiet1 = 2 * 60

In [77]:
df_new = df.groupby(['id', 'dag'])['duur_min'].sum()

In [81]:
df_new = df_new.to_frame()

In [82]:
df_new = df_new.fillna(method='ffill')

In [83]:
df_new

                                                  duur_min
id                                   dag
025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21  63.174383
                                     2018-12-22  28.295283
                                     2018-12-23  48.652317
                                     2018-12-24  96.388067
                                     2018-12-25  64.702883
...                                                    ...
f9b010d8-45b9-498f-a465-b6355cbdd7e3 2019-01-02   4.486917
                                     2019-01-03   9.414233
                                     2019-01-04   5.373333
                                     2019-01-05  11.477900
                                     2019-01-06  13.809867

[1626 rows x 1 columns]

In [84]:
df_new.to_excel('df_new.xlsx')

In [92]:
df_new = pd.read_excel('C:/Users/fdnecker/OneDrive - UGent/UGent/2019-2020/Doctoraat Floor/2019-2020/Smartphone_slaap_SimonA/MobileDNA data/input/df_new.xlsx')

In [93]:
df_new =  df_new.fillna(method='ffill')

In [94]:
df_new

                                        id        dag   duur_min
0     025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21  63.174383
1     025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-22  28.295283
2     025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-23  48.652317
3     025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-24  96.388067
4     025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-25  64.702883
...                                    ...        ...        ...
1621  f9b010d8-45b9-498f-a465-b6355cbdd7e3 2019-01-02   4.486917
1622  f9b010d8-45b9-498f-a465-b6355cbdd7e3 2019-01-03   9.414233
1623  f9b010d8-45b9-498f-a465-b6355cbdd7e3 2019-01-04   5.373333
1624  f9b010d8-45b9-498f-a465-b6355cbdd7e3 2019-01-05  11.477900
1625  f9b010d8-45b9-498f-a465-b6355cbdd7e3 2019-01-06  13.809867

[1626 rows x 3 columns]

In [95]:
def grenstwee (row):
    twee = row["duur_min"]
    
    if (twee > 120):
        return "meer dan 2u"
    else:
        return "minder dan 2u"

In [96]:
df_new['grens1'] = df_new.apply(grenstwee, axis=1)

In [97]:
df_new.head()

                                     id        dag   duur_min         grens1
0  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21  63.174383  minder dan 2u
1  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-22  28.295283  minder dan 2u
2  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-23  48.652317  minder dan 2u
3  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-24  96.388067  minder dan 2u
4  025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-25  64.702883  minder dan 2u

In [99]:
grens1 = df_new.groupby('id')['grens1'].value_counts()

In [102]:
grens1 = grens1.to_frame()

In [103]:
grens1

                                                    grens1
id                                   grens1
025a9d5a-8728-434d-9de6-9c263e7bf5cc minder dan 2u       9
                                     meer dan 2u         8
11159c15-a951-4219-850d-c33768509b01 meer dan 2u        15
                                     minder dan 2u       2
1201c8b4-6a0b-45f0-ac63-04b258d6d668 meer dan 2u        16
...                                                    ...
f3d282d8-1be9-4cde-aa37-21e4dbacd77b minder dan 2u       7
f6b9965f-312a-44e8-a54c-ea16242894fa minder dan 2u      16
                                     meer dan 2u         1
f9b010d8-45b9-498f-a465-b6355cbdd7e3 minder dan 2u      16
                                     meer dan 2u         1

[189 rows x 1 columns]

In [105]:
grens1.to_excel('grens1.xlsx')

## Variabele 3 = per_d_gr_2u; percentage dagen met dagelijks meer dan 2 u smartphonegebruik

In [106]:
def grensvier (row):
    twee = row["duur_min"]
    
    if (twee > 240):
        return "meer dan 4u"
    else:
        return "minder dan 4u"

In [107]:
df_new['grens2'] = df_new.apply(grensvier, axis=1)

In [108]:
df_new.head()

,id,dag,duur_min,grens1,grens2
0,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,63.174383,minder dan 2u,minder dan 4u
1,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-22,28.295283,minder dan 2u,minder dan 4u
2,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-23,48.652317,minder dan 2u,minder dan 4u
3,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-24,96.388067,minder dan 2u,minder dan 4u
4,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-25,64.702883,minder dan 2u,minder dan 4u

In [109]:
grens2 = df_new.groupby('id')['grens2'].value_counts()

In [110]:
grens2.to_excel('grens2.xlsx')

## Variabele 4 = per_d_prob_freq; percentage van dagen met frequentie van dagelijks smartphonegebruik 1 SD boven algemeen gemiddelde

In [112]:
gem_freq_d.describe()

count    107.000000
mean     104.388453
std       72.982611
min       15.647059
25%       56.470588
50%       85.888889
75%      134.588235
max      455.235294
Name: fancyname, dtype: float64

In [113]:
mean = 104.39
SD = 72.98

In [114]:
prob_freq = mean + SD

In [115]:
prob_freq

177.37

In [119]:
df_freq =  df.groupby(['id', 'dag'])['fancyname'].count().to_frame().reset_index()

In [121]:
df_freq.columns = ['id', 'dag', 'appevents']

In [122]:
def probfreq (row):
    appE = row["appevents"]
    
    if (appE > 177.37):
        return "ja"
    else:
        return "nee"

In [123]:
df_freq['probfreq'] = df_freq.apply(probfreq, axis=1)

In [124]:
df_freq

                                        id        dag  appevents probfreq
0     025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-21         82      nee
1     025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-22         26      nee
2     025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-23         24      nee
3     025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-24         64      nee
4     025a9d5a-8728-434d-9de6-9c263e7bf5cc 2018-12-25         36      nee
...                                    ...        ...        ...      ...
1621  f9b010d8-45b9-498f-a465-b6355cbdd7e3 2019-01-02          5      nee
1622  f9b010d8-45b9-498f-a465-b6355cbdd7e3 2019-01-03         13      nee
1623  f9b010d8-45b9-498f-a465-b6355cbdd7e3 2019-01-04          7      nee
1624  f9b010d8-45b9-498f-a465-b6355cbdd7e3 2019-01-05         11      nee
1625  f9b010d8-45b9-498f-a465-b6355cbdd7e3 2019-01-06         18      nee

[1626 rows x 4 columns]

In [ ]:
#pd.crosstab(foo, bar, dropna=False)

In [125]:
probfreq_table = pd.crosstab(df_freq['id'], df_freq['probfreq'])

In [127]:
probfreq_table = probfreq_table.reset_index()

In [129]:
logdag = pd.read_excel('C:/Users/fdnecker/OneDrive - UGent/UGent/2019-2020/Doctoraat Floor/2019-2020/Smartphone_slaap_SimonA/MobileDNA data/input/logdag.xlsx')

In [130]:
probfreq_table = pd.merge(probfreq_table, logdag, on='id')

In [131]:
probfreq_table

                                       id  ja  nee  logdagen
0    025a9d5a-8728-434d-9de6-9c263e7bf5cc   0   17        17
1    11159c15-a951-4219-850d-c33768509b01   0   17        17
2    1201c8b4-6a0b-45f0-ac63-04b258d6d668   2   15        17
3    12efa7c1-14af-4a50-ad7d-10d76c77af92   1   15        16
4    130d3a79-9b84-43c3-b279-5ddb3c1390d2   3    5         8
..                                    ...  ..  ...       ...
101  f29e3bf2-8b9a-48a5-a83f-dcff88fe9b70   2   15        17
102  f3214263-3140-4687-bd61-1fbc68623b3f   9    8        17
103  f3d282d8-1be9-4cde-aa37-21e4dbacd77b   0   17        17
104  f6b9965f-312a-44e8-a54c-ea16242894fa   0   17        17
105  f9b010d8-45b9-498f-a465-b6355cbdd7e3   0   17        17

[106 rows x 4 columns]

In [132]:
probfreq_table['per_d_prob_freq'] = probfreq_table['ja']/probfreq_table['logdagen']

In [133]:
probfreq_table.to_excel('probfreq.xlsx')

## Variabele 5 = per_d_prob_duur; percentage van dagen met duur van dagelijks smartphonegebruik 1 SD boven algemeen gemiddelde

In [140]:
gem_duur_min_d = gem_duur_min_d.reset_index()

In [141]:
gem_duur_min_d.describe()

         duur_min
count  106.000000
mean   187.701159
std    105.855178
min     26.480255
25%    110.336987
50%    166.797539
75%    231.959765
max    579.806778

In [142]:
mean_duur = 187.70
SD_duur = 105.86

In [143]:
prob_duur = mean_duur + SD_duur

In [144]:
prob_duur

293.56

In [145]:
df_duur = df_new

In [146]:
df_duur.head()

,id,dag,duur_min,grens1,grens2
0,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,63.174383,minder dan 2u,minder dan 4u
1,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-22,28.295283,minder dan 2u,minder dan 4u
2,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-23,48.652317,minder dan 2u,minder dan 4u
3,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-24,96.388067,minder dan 2u,minder dan 4u
4,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-25,64.702883,minder dan 2u,minder dan 4u

In [147]:
def probduur (row):
    duur = row["duur_min"]
    
    if (duur > 293.56):
        return "ja"
    else:
        return "nee"

In [148]:
df_duur['prob_duur'] = df_duur.apply(probduur, axis=1)

In [149]:
df_duur

,id,dag,duur_min,grens1,grens2,prob_duur
0,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-21,63.174383,minder dan 2u,minder dan 4u,nee
1,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-22,28.295283,minder dan 2u,minder dan 4u,nee
2,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-23,48.652317,minder dan 2u,minder dan 4u,nee
3,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-24,96.388067,minder dan 2u,minder dan 4u,nee
4,025a9d5a-8728-434d-9de6-9c263e7bf5cc,2018-12-25,64.702883,minder dan 2u,minder dan 4u,nee
...,...,...,...,...,...,...
1621,f9b010d8-45b9-498f-a465-b6355cbdd7e3,2019-01-02,4.486917,minder dan 2u,minder dan 4u,nee
1622,f9b010d8-45b9-498f-a465-b6355cbdd7e3,2019-01-03,9.414233,minder dan 2u,minder dan 4u,nee
1623,f9b010d8-45b9-498f-a465-b6355cbdd7e3,2019-01-04,5.373333,minder dan 2u,minder dan 4u,nee
1624,f9b010d8-45b9-498f-a465-b6355cbdd7e3,2019-01-05,11.477900,minder dan 2u,minder dan 4u,nee
1625,f9b010d8-45b9-498f-a465-b6355cbdd7e3,2019-01-06,13.809867,minder dan 2u,minder dan 4u,nee

In [150]:
probduur_table = pd.crosstab(df_duur['id'], df_duur['prob_duur'])

In [151]:
probduur_table = probduur_table.reset_index()

In [152]:
logdag = pd.read_excel('C:/Users/fdnecker/OneDrive - UGent/UGent/2019-2020/Doctoraat Floor/2019-2020/Smartphone_slaap_SimonA/MobileDNA data/input/logdag.xlsx')

In [153]:
probduur_table = pd.merge(probduur_table, logdag, on='id')

In [154]:
probduur_table['per_d_prob_duur'] = probduur_table['ja']/probduur_table['logdagen']

In [155]:
probduur_table.to_excel('probduur.xlsx')